@model List<ProductsByLastSoldDateViewModel>
@{
  ViewData["Title"] = "Products by Last Sold Report";
}

<table class="table table-condensed" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th scope="col" style="width: 11%">SKU</th>
      <th scope="col" style="width: 12%">UPC</th>
      <th scope="col" style="width: 10%">Created</th>
      <th scope="col" style="width: 33%">All Name</th>
      <th scope="col" style="width: 23%" data-toggle="tooltip" data-placement="right" title="Last Sold Date (Later date between Main and Other)">LSD ⓘ</th>
      <th scope="col" style="width: 11%" data-toggle="tooltip" data-placement="right" title="(WH/FBA Combined)">QTY ⓘ</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var product in Model)
    {
      if (product.Sku.Length == 7)
      {
        <tr data-toggle="collapse" data-target="#@product.Sku" class="accordion-toggle">
          <td colspan="2">@product.Sku</td>
          <td>@product.CreateDateUtc.ToString("yyyy-MM-dd")</td>
          <td colspan="2">@product.AllName</td>
          <td>@product.TotalAvailableQuantity / @product.FBA</td>
        </tr>
      }
      else
      {
        <tr class="hiddenRow accordian-body collapse" id="@product.ParentSKU">
          <td>@product.Sku</td>
          <td>@product.UPC</td>
          <td>@product.CreateDateUtc.ToString("yyyy-MM-dd")</td>
          <td>@product.AllName</td>
          @if (product.LastSaleDateUtc.HasValue)
          {
            <td>@product.LastSaleDateUtc.Value.ToString("yyyy-MM-dd")</td>
          }
          else
          {
            <td>NEVER</td>
          }
          <td>@product.TotalAvailableQuantity / @product.FBA</td>
        </tr>
      }
    }
  </tbody>
</table>

@section Scripts {
  <script>
    $('[data-toggle="tooltip"]').tooltip();

    $('.accordian-body').on('show.bs.collapse', function () {
      $(this).closest("table")
        .find(".collapse.in")
        .not(this)
        .collapse('toggle')
    })
  </script>
}